.cont {
  border: 2px solid rgba(255, 166, 0, 0.484);
  border-radius: 3rem;
  overflow: hidden;
  width: 20rem;
  transition: box-shadow 0.3s ease-in-out;
  height: 25rem;
  margin: 1rem;
}
.cont:hover {
  border: 2px solid rgb(255, 166, 0);
  box-shadow: 0px 0px 20px rgba(255, 165, 0, 0.8);
  transform: scale(1.05);
}

.image {
  display: flex;
  height: 7rem;
  background-color: rgba(255, 166, 0, 0.484);
  justify-content: center;
  align-items: center;
}
img {
  width: 17rem;
}

.contText{
  display: flex;
  align-items:center;
  justify-content:start;
  flex-direction: column;
  height: 100%;
  text-align: justify;
  padding: 1rem;
 
}

.text{
  color:orange;
  font-family: "Bruno Ace";
  font-weight:500;
  margin-right: 1rem;
}