@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

.contFather{
  display: flex;
  flex-direction: row;
  
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: rgb(253, 86, 9);
  font-family: 'Bruno Ace';
  font-weight: bold;

}
.container {
  display: flex;
 width: 60%;
  height: 75%;
  position: absolute;
  background-color: rgba(31, 31, 31, 0.525);
  align-items: center;
  justify-content: space-around;
  border-radius: 25% 10%;
  align-self: center;
  overflow: hidden;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(253, 86, 9, 0.533);
    width: 8rem;
    height: 3rem;
    margin-top: 10%;
    margin-left: 34%;
    border-radius:  35% 15%;
    color: white;
}

.btn:hover{
    color:  rgb(253, 86, 9);
    background-color: rgba(31, 31, 31, 0.525);
    color: rgb(253, 86, 9);
    border: 1px solid rgb(253, 86, 9);
}

.qr{
    width: 50%;
    height:70%;
    border-radius: 10%;
}